<template>
  <div id="app">
    <v-app>
      <v-card width="800" class="mx-auto mt-150">
        <v-container>
          <v-row>
            <v-col class="col-sm-5">
              <ListEmployee
              v-bind:eList="employeesList"
              v-bind:userIcon="userIcon"
              @selectEmployee="selectEmployee"
            />
            </v-col>
            <v-col>
              <FormEmployee
                @saveNewEmployee="saveNewEmployee"
                @clearForm="clearForm"
                @updateEmployee="updateEmployee"
                @removeEmployee="removeEmployee"
                v-bind:lastId="lastId"
                v-bind:emp="selected"
                v-bind:editing="editing"
                v-bind:formTitle="formTitle"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-app>
  </div>
</template>

<script>
import ListEmployee from "@/components/ListEmployee.vue";
import FormEmployee from "@/components/FormEmployee.vue";

export default {
  name: "App",
  components: {
    ListEmployee,
    FormEmployee
  },

  data() {
    return {
      employeesList: [
        //date-формат RFC (YYYY-MM-DDThh:mm:ssZ)
        { id: 0, fio: "Греков Антон Леонидович", passSer: "1408", passNo: "936235", passDt: "2008-06-10" },
        { id: 1, fio: "Петров Сергей Федорович", passSer: "1218", passNo: "335735", passDt: "2010-03-04"},
        { id: 2, fio: "Анастасенко Анна Сергеевна", passSer: "1410", passNo: "225265", passDt: "2009-09-12"},
        { id: 3, fio: "Буркалева Анна Леонидовна", passSer: "1210", passNo: "335265", passDt: "2009-10-03"},
        { id: 4, fio: "Григоренко Анна Сергеевна", passSer: "1410", passNo: "775132", passDt: "2009-03-02"},
      ],
      editing: false,
      lastId: 0,
      formTitle: "Новый сотрудник",
      userIcon: "mdi-account-circle",
      // empty object for adding new employee on app load
      selected: {}
    };
  },

  watch: {
    // Watching employeesList, main data array, for mutations
    // Update ID of last employee on this.employeesList change
    employeesList() {
      if (this.employeesList.length) {
        // update lastId variable only if array is not empty
        // set LocalStorage data either way - empty/not empty
        this.lastId = this.employeesList.slice(-1)[0].id;
      } else {
        // reset index to 0 if all employees has been deleted
        this.lastId = 0;
      }
      localStorage.setItem('employeesList', JSON.stringify(this.employeesList));
    }
  },

  mounted() {
  // Update ID of last employee on root component mount
    this.lastId = this.employeesList.slice(-1)[0].id;
  // Load Data from LocalStorage on mount. If LocalStorage data is empty array
  // employeesList default data will be used - defined in this file, data() section
    let clientDataRaw = localStorage.getItem('employeesList');
    let clientDataParsed = JSON.parse(clientDataRaw);
    if (clientDataParsed.length > 0) {
      this.employeesList = clientDataParsed;
    }
  },


  methods: {
    saveNewEmployee(emp) {
      this.employeesList.push(emp);
    },
    selectEmployee(id) {
      this.selected = { ...this.getEmpById(id) }
      this.editing = true
      this.formTitle = "Изменение данных сотрудника"
    },
    clearForm() {
      this.selected = {}
      this.editing = false
      this.formTitle = "Новый сотрудник"
    },
    updateEmployee(data) {
      let id = data["id"];
      this.$set(this.employeesList, this.getIdxById(id), data);
    },
    removeEmployee(id) {
      this.employeesList.splice(this.getIdxById(id), 1);
    },

    // helper function to get employee object by id
    getEmpById(id) {
      return this.employeesList.find(el => el.id === id);
    },

    // helper function to get employee array index by id
    getIdxById(id) {
      let el = this.getEmpById(id)
      return this.employeesList.indexOf(el);
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
